.layoutHeaderControlsContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    background-color: antiquewhite;
}

.backButtonContainer {
    display: flex;
    width: 10%;
}

.languageSelectorContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
}